code_arduino_phyisical_entity/flows_poyect.JSON
[{"id":"b00c7b77.5bac78","type":"tab","label":"Telemetry Flow","disabled":false,"info":""},{"id":"56ea50e1.9753a","type":"serial in","z":"b00c7b77.5bac78","name":"COM4","serial":"8ecb6ec3.b4397","x":113.89065933227539,"y":125.26960158348083,"wires":[["aae5e2ca.a85ca","5e8b22f9.c2809c"]]},{"id":"aae5e2ca.a85ca","type":"function","z":"b00c7b77.5bac78","name":"renameTopic","func":"var res = {};\nif(msg.payload==1){\n    res.payload = \"puertaAbierta\";\n}else if(msg.payload==2){\n    res.payload = \"aperturaNoPermitida\";\n}else if(msg.payload==3){\n    res.payload = \"aperturaSospechosa\";\n}\nreturn res;\n","outputs":1,"noerr":0,"x":322.8867492675781,"y":121.95319366455078,"wires":[["a86d41f1.4de2c","b9f10f93.e03c9"]]},{"id":"b9f10f93.e03c9","type":"mqtt out","z":"b00c7b77.5bac78","name":"MQTT_Server","topic":"protegemos/apt515/hub/cerradura1/alerta","qos":"2","retain":"true","broker":"12bc8c9b.b29493","x":554.8984985351562,"y":123.64070129394531,"wires":[]},{"id":"a86d41f1.4de2c","type":"debug","z":"b00c7b77.5bac78","name":"afterRename","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":545,"y":173,"wires":[]},{"id":"5e8b22f9.c2809c","type":"debug","z":"b00c7b77.5bac78","name":"SerialData","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":319.89063262939453,"y":171.66807055473328,"wires":[]},{"id":"8ecb6ec3.b4397","type":"serial-port","z":"","serialport":"COM4","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","newline":"\\n","bin":"false","out":"char","addchar":true},{"id":"12bc8c9b.b29493","type":"mqtt-broker","z":"","name":"","broker":"172.24.42.86","port":"8083","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"willTopic":"","willQos":"0","willRetain":"false","willPayload":"","birthTopic":"","birthQos":"0","birthRetain":"false","birthPayload":""}]
